  .homeImage {
    z-index: 1;
    position: absolute;
    align-items: center;
    top: 85px;
  }
  
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .welcome {
    z-index: 2;
    position: absolute;
    align-items: center;
    top: 0;
    text-align: center;
    margin-left: 44%;
    margin-top: 500px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 42px;
  }

  .main-body {
    position: absolute;
    margin-top: 1033px;
    margin-left: 11.8%;
  }

  .locText {
    font-size: 36px;
  }

  .locImage {
    width: 330px;
    height: 300px;
    margin-left: 25px;
    border-radius: 12px;
  }

  .row1 {
    margin-top: 50px;
  }

  .row2 {
    margin-top: 25px;
  }

  .signUpRedirect {
    margin-top: 35px;
  }

  .Ready {
    font-family: "Poppins", sans-serif;
    font-size: 42px;
  }

  .signUp {
    padding: 10px 15px 10px 15px;
    border: 2px solid black;
    background-color: orange;
    font-family: "Poppins", sans-serif;
    border-radius: 12px;
    font-size: 36px;
    color: grey;
  }

  .signUp:hover {
    background-color: rgb(255, 179, 0);
    transition: 0.5s;
  }

  .signUp:active {
    background-color: red;
  }

  .button {
    margin-top: 27px;
    padding-bottom: 35px;
  }